<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="site-baseurl" content="{{ site.baseurl }}" />
<title>{{ page.title | default: site.title }}</title>
<link
  rel="icon"
  type="image/png"
  href="{{ '/favicon-96x96.png' | relative_url }}"
  sizes="96x96"
/>
<link rel="icon" type="image/svg+xml" href="{{ '/favicon.svg' | relative_url }}" />
<link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}" />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ '/apple-touch-icon.png' | relative_url }}"
/>
<meta name="apple-mobile-web-app-title" content="npk Portfolio" />
<link rel="manifest" href="{{ '/site.webmanifest' | relative_url }}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>
<link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}" />
