<nav>
  <div class="container">
    <a href="{{ '/' | relative_url }}" class="logo">NPK</a>
    <div class="nav-links">
      {% if page.home %}
      <a href="#about">About</a>
      <a href="#experience">Experience</a>
      <a href="#projects">Projects</a>
      <a href="#skills">Skills</a>
      <a href="#contact">Contact</a>
      {% else %}
      <a href="{{ '/' | relative_url }}#about">About</a>
      <a href="{{ '/' | relative_url }}#experience">Experience</a>
      <a href="{{ '/' | relative_url }}#projects">Projects</a>
      <a href="{{ '/' | relative_url }}#skills">Skills</a>
      <a href="{{ '/' | relative_url }}#contact">Contact</a>
      {% endif %}
    </div>
    <div class="hamburger">
      <i class="fas fa-bars"></i>
    </div>
  </div>
</nav>
